html {
    font-family:cursive;
    background: url("https://1.bp.blogspot.com/-8duFKW8Yzkg/WxoqAF-Jf4I/AAAAAAABkrc/FIf9XyeDyQ8qnOd4e5E1WNpi9QkUgsTlACLcBGAs/s1600/England.jpg");
}
h1 {
    font-size:100px;
    text-align: center;
}
p {
    font-size:20px;
    background-color:rgba(255,255,255,0.7);
}
button {
    width: 100px;
    height: 30px;
    font-size: 20px
}